.icon {
  height: 85;
  width: 85;
}

.iconChoice {
  height: 85;
  width: 85;
}

.icon:hover {

  border-radius: 25px;
  border: 3px solid #0000EE;
  padding: 1px;
  width: 80px;
  height: 80px;
}

.scoreBoardRow{

  width: 100%;
  text-align: center;
}

.scoreboardBlock{

  display: inline-block;

}

#boardPlayer {
  border-radius: 25px;
  border: 3px solid #0000EE;
  background: #0000EE;
  padding: 15px;
  width: 250px;
  height: 210px;
}

#boardCpu {
  border-radius: 25px;
  border: 3px solid #EE0000;
  background: #EE0000;
  padding: 15px;
  width: 250px;
  height: 210px;
}

.nameBar {
  font-family: "Helvetica";
  font-size: 25px;
  color: white;
}

.cpuBar {
  font-size: 12px;
}

.icon_group{
  margin: auto;
  text-align: center;
  border-radius: 25px;
  border: 4px solid #000000;
  padding: 20px;
  width: 500px;
  height: 200px;
}

h1 {
  font-family:"Helvetica"
}

.result {
  margin: auto;
  text-align: center;
  padding-top: 25px;
  font-family: "Helvetica"


}

.score {
  font-family: "Helvetica";
  font-size: 85px;
  color: white;
}
